<div class="jumbotron">
<h1>Welcome to MiaUrbo</h1>
<p>This is my Rails project, with some edits.</p>

<%= link_to 'About Us', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Home', root_path, class: 'btn btn-primary' %>

</div>

